<div class="qgrid-header">
    <table>
        <tr ng-repeat="row in headerRows">
            <th ng-repeat="cell in row"
                class="qgrid-header-th"
                rowspan="{{cell.rowspan}}"
                colspan="{{cell.colspan}}">
                <div ng-class="cell.cssClass"
                     class="qgrid-header-cell">
                    {{cell.node.label}}
                    <div ng-if="cell.cssClass"
                         qgrid-divider="cell"
                         qgrid-divider-drag="calcStyle()"
                         class="divider"></div>
                </div>
            </th>
        </tr>
    </table>
</div>