.border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.qgrid {
  height: 100%;
  position: relative;
}
.qgrid-table-wrapper {
  height: 100%;
  width: 100%;
}
.qgrid-body-wrapper {
  height: 100%;
}
.qgrid-header-th {
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}
.qgrid-header-cell {
  overflow: hidden;
  position: relative;
}
.qgrid-header .divider {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 2px;
  background-color: #ccc;
  opacity: 0.5;
  right: 0;
  top: 0;
  cursor: col-resize;
}
.qgrid-body {
  height: 100%;
  overflow: auto;
}
.qgrid-body-td {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.qgrid-body-cell {
  overflow: hidden;
}
